<div class="search_bar"><input type="text" placeholder="search" name="keyword" [(ngModel)]="keyword" (ngModelChange)="search()"/>
  </div>

<div class="container">

  
  

    <table  *ngIf="results" class="table table-striped text-center">
      <thead>
        <tr>
          <th>Account Number</th>
          <th>Account Name</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of results">
          <td>{{ account.accountNumber }}</td>
          <td>{{ account.accountName }}</td>
          <td>{{ account.balance | currency: 'EUR' }}</td>
        </tr>
      </tbody>
    </table>
  </div>