  
  .faq-button{
    background-color: #FF8C00; color:white; 
    font-size: 15px; 
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.8%;

}

    #faq-button.hover{
        text-style:underline;
    }

    #service-picture{
        float: right;
        
       
        
    }