<div class="products" style="padding:2%; margin: 0 auto; margin-top:2%; margin-bottom: 5%; border: 1px solid lightblue; width: 80%;">
    <img id="service-picture" src="../../../assets/images/service.png" alt="Service" height="60">
    <h2>Unsere Services</h2>
    <div class="product" style="margin-top: 0%; margin-bottom: 2%;">
      <h3>Fragen und Antworten</h3>
      <p>Stellen Sie Fragen und bekommen Sie Antorten von unseren qualifizierten Online Banking Experten.</p>
      <button class="faq-button">FAQ öffnen</button>
    </div>
    
    <div class="product"  style="margin-bottom: 2%;">
      <h3>Anträge und Formulare</h3>
      <p>Laden Sie wichtige Anträge und Formulare herunter.</p>
      <button class="faq-button"> Zu den Formularen
      </button>
    </div>
  </div>
  