<div class="investing-opportunities" style="width: 80%;
margin: 0 auto; padding:5%; margin-top:2%; margin-bottom: 2%; border: 1px solid lightblue;">
    <h2>Entdecken Sie Anlagemöglichkeiten mit der Deutschen Bank</h2>
    <p>Entdecken Sie eine breite Palette von Anlagemöglichkeiten, die Ihnen helfen, Ihre finanziellen Ziele zu erreichen. Von Aktien und Anleihen bis hin zu Investmentfonds und ETFs - wir haben alles, was Sie brauchen, um ein diversifiziertes Portfolio aufzubauen, das Ihren Bedürfnissen entspricht.</p>
    <button class="start-button">Starten</button>
  </div>