<div class="products" style="padding:2%; margin: 0 auto; margin-top:2%; margin-bottom: 5%; border: 1px solid lightblue; width: 80%;">
    <h2>Unsere Produkte</h2>
    <div class="product" style="margin-top: 0%; margin-bottom: 2%;">
      <h3>Deutsche Bank Spar-Konto</h3>
      <p>Profitieren Sie von günstigen Zinssätzen und einem einfachen Zugriff auf Ihr Geld mit unserem Sparkonto. Profitieren Sie außerdem von kostenlosen Online- und Mobile-Banking-Services.</p>
      <button class="button2">Mehr dazu</button>
    </div>
    <div class="product"  style="margin-bottom: 2%;">
      <h3>Deutsche Bank Kreditkarte</h3>
      <p>Sichern Sie sich mit unserer Kreditkarte exklusive Vorteile und Prämien. Von Cashback-Angeboten bis hin zu Reiseprivilegien - genießen Sie bei jedem Einkauf eine Reihe von Vergünstigungen.</p>
      <button class="button2">Mehr dazu</button>
    </div>
    <div class="product"  style="margin-bottom: 2%;">
      <h3>Deutsche Bank Hypothekendarlehen</h3>
      <p>Finden Sie Ihr Traumhaus mit unserem Hypothekendarlehen. Genießen Sie flexible Rückzahlungsbedingungen und wettbewerbsfähige Zinssätze, die zu Ihrem Budget und Ihrem Lebensstil passen.</p>
      <button class="button2">Mehr dazu</button>
    </div>
  </div>
  